.requestsection{
    padding-top: 100px;
    height: 100%;
}
.requestsection form{
    height: fit-content;
}
.reqtitle,.ajouerdemand{
    margin-top: 30px;
    text-align: center;
    font-size: 50px;
}
.ajouerdemand{
    margin-bottom: 30px;
}
.groupe,.ville{
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 9px;
}
.requestsection .myrequests{
    padding-top: 0;
    margin: auto;
}
.requestsection .error{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    opacity: 0.5;
    color: white;
    width: 100%;
    height: 50px;
    background-color: #dc3545;
    border-radius: 8px;
}

.myrequests{
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 1.1);
}
.myreqs{
    display: flex;
}
.myrequests .container{
    margin-top: 50px;
    width: fit-content;
    box-shadow: 2px 5px 16.4px 1px rgba(0, 0, 0, 0.85);
    padding: 33px;
    border-radius: 25px;
    position: relative;    
    overflow-wrap: anywhere;
}
.bloodtypesec{
    background-color: red;
    margin-right:15px ;
    border-radius: 8px;
    height: 100%;
}
.bloodtypesec .bloodtype{
    height: 157px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    background-color: #656565;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 150px;
    font-size: 70px;
    color: white;
    font-weight: bold;
}
.bloodtypesec .title{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #C90000;
    padding-top: 5px;
    color: white;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}
.otherinfos p:not(:first-child){
    margin-top: 8px;
    font-size: 18px;
}

.otherinfos .bloodemail{
    font-size: 20px;
    font-weight: bold;
}
.otherinfos button{
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    font-size: 15px;
    background-color: #C90000;
    padding:6px 20px;
    margin-right: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    font-weight: bold;
    transition: .2s ease;
}
.otherinfos button:hover{
    background-color: #ff0000;
    box-shadow: 0 8px 28px #dc384873;

}
@media (max-width:523px) {
    .myrequests .container{
        padding: 33px 33px 80px 33px;
    }
    .bloodtypesec .bloodtype{
        width: 100%;
    }
    .myreqs{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}